<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="An AI based Trump Nickname Generator">
    <meta name="author" content="Alexander Kahanek">
    <title>TrumpGen · Nickname Generator</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/textbox.css") %>"/>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/button.css") %>"/>
  </head>
  <body>
    <div class="container">
    <main role="main">
    <%= render @view_module, @view_template, assigns %>
    </main>
    </div> <!-- /container -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
